/* CSS Sticky Footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Muli, sans-serif
  }

  main {
    flex: 1 0 auto;
  }

.a-latest-match .a-skor li, .a-latest-result .a-skor li {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin: 0 6px;
}

.a-latest-match .a-club-title li, .a-latest-result .a-club-title li {
    display: inline-block;
    font-weight: 700;
}

.a-latest-match .a-skor li img, .a-latest-result .a-skor li img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.a-latest-match .a-date, .a-latest-match .a-stadium, .a-latest-result .a-date, .a-latest-result .a-stadium {
    padding: 0;
    margin: 0;
}

/*FONT MULI*/
/* vietnamese */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('webfonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eWVw0iC.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('webfonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eSVw0iC') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('webfonts/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eqVww.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk40eiNxw.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk50eiNxw.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*ARAH PANAH NAVBAR*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('webfonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
